form {
    width: 300px;
    margin: 0 auto;
  }
  fieldset {
    border: 0;
    padding: 0;
  }
  fieldset > div {
    margin-bottom: 30px;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  label span {
    color: red;
  }
  input,
  select {
    border: 1px solid gray;
    padding: 10px;
    width: 200px;
  }
  select {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    color: #666;
    -webkit-appearance: none;
    width: 100%;
  }
  .select-wrapper {
    position: relative;
    width: 222px;
  }
  .select-wrapper:after {
    content: '< >';
    color: #666;
    font-size: 14px;
    top: 8px;
    right: 0;
    transform: rotate(90deg);
    position: absolute;
    z-index: -1;
  }
  .single-input input {
    width: 439px;
  }
  .double-input {
    display: flex;
  }
  .double-input > div {
    margin-right: 15px;
  }
  .checkbox input {
    float: left;
    width: auto;
    margin-right: 10px;
  }
  button {
    background: green;
    border: 0;
    color: white;
    width: 224px;
    padding: 10px;
    text-transform: uppercase;
  }
  input:valid {
    border: 2px solid green;
  }
  input:invalid {
    border: 2px solid red;
  }